<head>
  <link href="https://fonts.googleapis.com/css?family=Bungee+Shade|Nunito" rel="stylesheet">
</head>

<h1>
  <%= @result_animal.name %>
</h1>
<p>
  <%= @result_animal.name %> is a(n) <%= @result_animal.species %>
</p>
<p>
  <%= @result_animal.name %> is <%= @result_animal.age %> years old
</p>
