<h1>Rails Zoo</h1>
<p>Animals currently at the zoo:</p>
<ul>
    <% @animals.each do |animal| %>
      <li>
        Name: <%= animal.name %> | Species: <%= animal.species %> | Age: <%= animal.age %> years old | <%= link_to "Learn more!", animal_path(animal.id) %> <%= link_to "Delete", delete_animal_path(animal.id), data: { confirm: "Are you sure you want to delete this animal?" }, method: :delete %>
      </li>

    <% end %>
</ul>

<h2><%= link_to "Add A New Animal", new_animal_path %></h2>
