<header>
  <h1>Rails Zoo</h1>
</header>
<p>Animals currently at the zoo:</p>
<ul>
    <% @animals.each do |animal| %>
      <li>
        Name: <%= animal.name %> | Species: <%= animal.species %> | Age: <%= animal.age %> year(s) old | <%= link_to "Learn more!", animal_path(animal.id) %> <%= link_to "Remove", delete_animal_path(animal.id), data: { confirm: "Are you sure you want to remove this animal?" }, method: :delete %>
      </li>

    <% end %>
</ul>

<h2><%= link_to "Add A New Animal", new_animal_path %></h2>
