<h1>Create a New Animal!</h1>

<%= render partial: "form" %>


<!-- <h1>Create a new animal!</h1>


<%= form_for @animal do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :species %>
<%= f.text_field :species %>
<%= f.label :age %>
<%= f.text_field :age %>
<%= f.submit %>
<% end %> -->
