<h1>All about <%= @animal.name %></h1>

<section>
<img src= <%= @animal.image %>

</section>
<p>
  <%= @animal.name  %> is a <%= @animal.age  %> year old <%= @animal.species  %> whose favorite snack is ____.
</p>
