<h1>All about <%= @animal.name %></h1>

<section>
<img src= <%= @animal.image %>

</section>
<p>
  <%= @animal.name  %> is a <%= @animal.age  %> year old <%= @animal.species  %> whose favorite snack is <%= @animal.snack  %>.
</p>
<p>

  <%= link_to "Edit #{@animal.name}", edit_animal_path %>
</p>
<p>

  <%= link_to "Back to List", animals_path %>

</p>
