<h2>Edit an Animal</h2>

<section><%= form_for @animal do |f| %>
<ul>
  <li>Name: <%= f.text_field :name %></li>
  <li>Species: <%= f.text_field :species %></li>
  <li>Age: <%= f.number_field :age %></li>
  <%= f.submit %>
</ul>
<% end %></section>
