<article class="form">

<h1>Test</h1>

<%= form_for @animal, method: :put do |f| %>

<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :species %>
<%= f.text_field :species %>

<%= f.label :age %>
<%= f.text_field :age %>

<%= f.label :image %>
<%= f.text_field :image %>

<%= f.submit "Save" %>

<% end %>

</article>
