<header class="banner"><%= image_tag 'safari_kenya_21.jpg' %></header>
<main class="text">
  <h2>Animals at Rails Zoo</h2>
  <section>
    <% @animals.each do |animal| %>
      <p><%= link_to "#{animal.name.upcase}", animal_path(animal) %>
      <!-- The need to not say animal_path(animal.id). Is that also a Ruby magic thing? -->
      <%= ", #{animal.species} (#{animal.age})" %>
      <button><%= link_to "delete", animal_path(animal), method: :delete, data: { confirm: "Are you SURE?" }%></button></p>
    <% end %>
  </section>
  <button><%= link_to "add an animal", new_animal_path %></button>
</main>
