<ul>
  <% @animals.each do |animal| %>
    <li>
      <%= link_to animal.name, animal_path(animal.id)%>
      <%= animal.species %>
      <%= animal.age %>
      <%= link_to "Edit", edit_animal_path(animal)%>
      <%= link_to "Delete", animal_path(animal),
      data: {method: :delete, confirm: "Are you sure you want to delete the animal #{animal.name}"}%>
    </li>
  <% end %>
</ul>

<%= link_to "New arrival", new_animal_path%>
