<h1>Add New Animal</h1>

<ul>
  <%= form_for @animal do |f| %>
  <li>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </li>
  <li>
    <%= f.label :species %>
    <%= f.text_field :species %>
  </li>
  <li>
    <%= f.label :age %>
    <%= f.text_field :age %>
  </li>
  <li>
    <%= f.submit "Create" %>
  </li>
  <% end %>
</ul>

<p>
  <%= link_to "Back to Animal List", animals_path %>
</p>
