<section class="new">
  <h1>New Animal</h1>
<%= form_for @animal do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :species %>
  <%= f.text_field :species %>

  <%= f.label :age %>
  <%= f.text_field :age %>

  <%= f.submit value: "Add new animal" %>

  <p><%= link_to "Cancel", animals_path %>
<% end %>
</section>
