<div class="animal-img">
  <h2> <%= @show_animal.name %> </h2>
  <h3> <%= @show_animal.species %> </h2>
  <h3> <%= @show_animal.age %> </h2>
  <%= image_tag @show_animal.img %>
  <%= link_to "Edit", edit_animal_path(@show_animal.id) %>
  <%= link_to "Delete", delete_animal_path(@show_animal.id),
  data: { confirm: "Are you sure you want to delete this animal?" },
  method: :delete %>
</div>
