<% @animals_selected = true %>

<main>
  <h2><%= @animal.name %> the <%= @animal.species %></h2>
  <img src="http://lorempixel.com/200/300/animals" alt="animal">
  <p>
    <%= @animal.name %> is <%= @animal.age %> years old.
  </p>
  <p>
    <%= link_to "Edit " + @animal.name, edit_animal_path %> |
    <%= link_to "Delete " + @animal.name, delete_animal_path %>
  </p>
</main>
