
<h1><%=@result_animal.name %>'s profile</h1>

<p>Species: <%= @result_animal.species %></p>

<p>Age: <%= @result_animal.age %></p>

<p><%= @result_animal.profile %></p>



<!-- <%= image_tag("leo.jpg", :alt => "black dog sitting on deck") %> -->
