<header>
  <h1><%= @animal[:name] %></h1>
</header>

<main>
  <section>
  <h2>About</h2>

    <p><%= button_to "Delete Animal", animal_path, :class => "button", :method => :delete %></p>
    <p><%= button_to "Edit Animal", edit_animal_path, :class=> "button", :method=> :get %></p>

    <ul>
      <li>Species: <%= @animal[:species] %></li>
      <li>Age: <%= @animal[:age] %></li>
    </ul>

  </section>
</main>

<footer>
  <nav>
    <%= link_to "Home", "/animals" %>
  </nav>
</footer>
