<article class="show">
  <h1><%= @animal.name %> the <%= @animal.species %></h1>

  <% if @animal.image == nil %>
    <img src="http://lorempixel.com/400/200/animals" alt="animal photo">
  <% else %>
    <%= image_tag(@animal.image, alt:"animal photo") %>
  <% end %>
  <p>
    <%= @animal.name %> the <%= @animal.species %> is <%= @animal.age %> years old.
  </p>

  <p>
    <%= link_to "Edit Animal", edit_animal_path %>

    <%= link_to "Remove Animal", delete_animal_path, method: :delete, data: { confirm: "Are you sure?"} %>

    <%= link_to "Home", animals_path %>
  </p>
</article>
