<h1> Animal Profile </h1>

<%= image_tag(@animal.image_url, alt: "animal picture", size: "300x200") %>
<ul>
  <li><%= @animal.name %> says hello!</li>
  <li>Species: <%= @animal.species %></li>
  <li>Age: <%= @animal.age %></li>
</ul>

<%= link_to "Delete", delete_animal_path(@animal.id),
    data: {confirm: "Are you sure you want to delete this animal?"},
    method: :delete %>
<%= link_to "Update", edit_animal_path(@animal.id) %>
<%= link_to "Home", animals_path %>
