<h2>Bio</h2>
<div class="bio-photo"><%= image_tag url="#{@animal.image_url}" %></div>
<ul>
  <li>Name: <%= @animal.name %></li>
  <li>Species: <%= @animal.species %></li>
  <li>Age: <%= @animal.age %></li>
</ul>

<%= link_to "All animals", animals_path %>
