<h3 class="animal-name"><%= @animal.name %></h1>

<section class="animal-data">
  <%= image_tag @animal.image %>
  <p>
    Age: <%= @animal.age %>
  </p>
  <p>
    Species: <%= @animal.species %>
  </p>

</section>
<section class="animals-nav">
  <%= link_to "main zoo", animals_path %>
</section>
