<h1> <%= @animal.name %> </h1>
<img src="http://lorempixel.com/400/200/animals">
<p> <%= "#{@animal.name} is a #{@animal.age} year old #{@animal.species}." %>
  <%= render partial: "gender", locals: {animal: @animal} %>
  <%= @animal.details %>.
</p>

<%= button_to "Update #{@animal.name}'s Info", edit_animal_path, method: :get %>

<%= link_to "Back to Animals list", animals_path %>
