<h2> Animal Details </h2>

<%= image_tag("https://cdn.pixabay.com/photo/2016/07/07/10/28/snail-1502214_1280.jpg", alt: "snail_picture", size: "300x200") %>
<ul>
  <li>Name: <%= @animal.name %></li>
  <li>Species: <%= @animal.species %></li>
  <li>Age: <%= @animal.age %></li>
</ul>

<%= link_to "Delete", delete_animal_path(@animal.id) %>
<%= link_to "Update", update_animal_path(@animal.id) %>
<%= link_to "Home", animals_path %>
