<%= render partial: "sidebar", locals: {zone: @zone} %>

<section class="show-animal content">
  <h3 class="show-animal animal-name">Hi, I'm <%= @animal.name %>!</h1>

  <section class="show-animal animal-data">
    <%= image_tag @animal.image, class: "show-animal-image" %>
    <p>
      Age: <%= @animal.age %>
    </p>
    <p>
      Species: <%= @animal.species %>
    </p>

  </section>
  <section class="show-animal animals-nav">
    <ul>
      <li class="edit-animal-button">
        <%= link_to "edit animal", edit_animal_path, method: :get %>
      </li>
    </ul>
  </section>
</section>
