<h1> Animal Details </h1>

<%= image_tag("https://cdn.pixabay.com/photo/2016/07/07/10/28/snail-1502214_1280.jpg", alt: "snail_picture", size: "300x200") %>
<ul>
  <li>Name: <%= @animal.name %></li>
  <li>Species: <%= @animal.species %></li>
  <li>Age: <%= @animal.age %></li>
</ul>

<%= link_to "Delete", delete_animal_path(@animal.id),
    data: {confirm: "Are you sure you want to delete this animal?"},
    method: :delete %>
<%= link_to "Update", edit_animal_path(@animal.id) %>
<%= link_to "Home", animals_path %>
