<h1>About This Animal</h1>


  <p class="animal_pic">
    <%= image_tag @animal.image_link %></p>

  <p class="details">
  This is <%= @animal.name  %></br>
  of <%= @animal.species %> species</br>
  He is <%= @animal.age %> <%= @animal.age_unit %>

</p>

<p>
  <%= link_to "Home Page", animals_path %>
</p>
