<h1><%= @animal.name %></h1>
<%= image_tag(@animal.photo_url, class: "feature_photo") unless @animal.photo_url.empty? %>

  <p>
    <% unless @animal.species.empty? %>
      <strong>Species</strong> - <%= @animal.species.capitalize %> <em>(<%= @animal.scientific_name %>)</em>
    <% end %>
  </p>
  <p>
    <% if !@animal.age.nil? %>
      <strong>Age</strong> - <%= @animal.age %> year(s)
    <% end %>
  </p>

<%= link_to "<<", animals_path %>
