<h1><%= @animal.name %></h1>
<%= image_tag(@animal.photo_url, width: "500") unless @animal.photo_url.empty? %>

  <p>
    <% unless @animal.species.empty? %>
      Species: <%= @animal.species.capitalize %> (<em><%= @animal.scientific_name %></em>)
    <% end %>
  </p>
  <p>
    <% if !@animal.age.nil? %>
      Age: <%= @animal.age %> year(s)
    <% end %>
  </p>

<%= link_to "<<", animals_path %>
