
<h1><%= @result_animal.name %></h1>

<img src="<%= @result_animal.image_url %>" alt "" />

<ul>
  <li>
    Species: <%= @result_animal.species %>
  </li>
  <li>
    Age: <%= @result_animal.age %>
  </li>
  <li>
    Birthday: <%= @result_animal.birthday %>
  </li>
</ul>

<%= link_to "Edit this animal", edit_animal_path %>

<%= link_to "Delete this animal", delete_animal_path(@result_animal), data: { confirm: "are you sure you want to delete this animal?"}, method: :delete, class: "delete-button" %>

<%= link_to "Back to all animals", animals_path %>
