<h1>About Me!</h1>


<p class="animal_pic">
    <%= image_tag @animal.image_link %></p>

<p class="details">
  My name is <%= @animal.name  %></br>
  I am from <%= @animal.species %> species</br>
  I am <%= @animal.age %> <%= @animal.age_unit %> old.
</p>

<p>
  <%= link_to " Home Page ", animals_path , :class => "button"%>
</p>
