<% content_for :background do %>
     class="flexbox bride-and-groom background"
<% end %>

<ul class="list">
     <li class="title"><h1>RSVP List</h1></li>
     <% @reservations.each do | reservation | %>
          <li class="list-item">
               <%= link_to reservation_path(reservation.id) do %>
                    Reservation 0<%= reservation.id %>
               <% end %>
          </li>
          <li class="list-item">
               <p>
                    <%= reservation.first_guest_first_name %> <%= reservation.first_guest_last_name %>

                    <%= reservation.second_guest_first_name == nil || reservation.second_guest_first_name == "" ? "" : "and" %>

                    <%= reservation.second_guest_first_name == nil || reservation.second_guest_first_name == "" ? "" : reservation.second_guest_first_name %>

                    <%= reservation.second_guest_first_name == nil || reservation.second_guest_first_name == "" ? "" : reservation.second_guest_last_name %>
               </p>
          </li>
          <li class="last-list-item">
               <span>
                    <%= button_to "Edit", edit_reservation_path(reservation.id), method: :get %>

                    <%= button_to "Delete", delete_reservation_path(reservation.id),
                         data: { confirm: "Are you confident you'd like to delete this reservation?" },
                         method: :delete %>
               </span>
          </li>
          <br><br>

     <% end %>

     <span> <%= button_to "Tally", tally_reservations_path, method: :get %> </span>

</ul>
