<!DOCTYPE html>
<html>
  <head>
    <title>MyZoo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul class="navbar">
        <li>
          <%= link_to "Home", animals_path %>
        </li>
        <li>
          <%= link_to "Add an Animal", new_animal_path %>
        </li>
      </ul>
    </header>

    <%= yield %>
  </body>
</html>
