<!DOCTYPE html>
<html>
  <head>

    <title>Janice + Mark</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Gravitas+One|Source+Sans+Pro' %>

  </head>

     <body <%= yield :background %>>

          <header class="header">

               <div class="logo">
                    <%= link_to root_path do %>
                         <%= image_tag "logo.png"%>
                    <% end %>
               </div>
                    <nav class="navigation">
                         <ul>
                              <li><%= link_to "Home", root_path %></li>
                              <li><%= link_to "Conditions", conditions_path %></li>
                              <li><%= link_to "RSVP", reservations_path %></li>
                              <li><%= link_to "Gifts", gifts_path %></li>
                              <li><%= link_to "Blueprint", blueprint_path %></li>

                         </ul>
                    </nav>
          </header>

          <main class="main">
                <div class="placeholder"></div>

               <section>
                    <%= yield %>
               </section>
          </main>

          <section class="section">
               <ul class="feature">
               <%= yield :feature%>
               </ul>
          </section>

          <footer class="footer">
               <div class="copyright"><h6> &copy; 2017 Labor of Love. All rights reserved. </h6></div>

               <ul class="social">
                    <li class="social-facebook social-icon">
                    <a class="social-link social-icon" href="#facebook" target="_blank"></a>
                    </li>
                    <li class="social-instagram social-icon">
                    <a class="social-link" href="#instagram" target="_blank"></a>
                    </li>
                    <li class="social-mail social-icon">
                    <a class="social-link" href="mailto:janiceandmark@zawistoski.com"></a>
                    </li>
               </ul>

          </footer>

     </body>

</html>
